# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCTLouJsg1zFvkgQWIthP5ZWy-_s8RQrQo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=code-with-me-d4e18.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=code-with-me-d4e18
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=code-with-me-d4e18.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=886384504765
NEXT_PUBLIC_FIREBASE_APP_ID=1:886384504765:web:752af00fd026ea284eacd4
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-QE3V78W54Y

# Optional App Config
NEXT_PUBLIC_APP_NAME=CodeTogether
